*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}

/* navigation bar in */

.navbar {
    /* display: grid; */
    justify-content: space-evenly;
    margin: 0 100px;
}

.header-wa {
    background-color: #16be40;
    color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 9px;
}

.header-wa a {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.header-wa a:hover,a.active{
    background: none;
    color: #141414;
    text-decoration: none;
}

.header-call {
    background-color: orangered;
    padding: 10px 20px 10px 20px;border-radius: 9px;
}

.header-call a {
    color: white;
    font-size: 18px;
    font-weight: 700;
}

.header-call a:hover,a.active{
    background: none;
    color: #141414;
    text-decoration: none;
}

/* banner with form and heading in right side */

.banner {
  /* background: url(img/banner1.jpg) no-repeat 0px 0px; */
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.356), rgba(0, 0, 0, 0.356)),
  url('img/image3.jpg');;
	background-size: cover;
  min-height: 500px;
}

.banner-form {
    display: grid;
    grid-template-columns: 2fr 1fr;
    padding: 100px 100px 10px 100px;
    column-gap: 10px;
    align-items: center;
}

.main-h1 h1 {
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.main-h1 h2 {
  color: white;
  font-size: 35px;
  font-weight: 700;
}

/* about signature global */

.about-con {
    display: grid;
    margin-top: 60px;
    margin-bottom: 60px;
    justify-items: center;
}

.about-info {
    width: 80%;
    text-align: center;
    padding: 10px 100px 10px 100px;
}

.about-info h2 {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
}

.about-info h3 {
    font-size: 25px;
    font-weight: 700;
    color: #43A047;
    text-decoration: underline;
}

.about-info p {
    font-size: 18px;
    margin-top: 5px;
    
}

.about-info h4 {
  font-size: 18px;
  margin-top: 5px;
  color: black;
}

.about-info h5 {
  font-size: 25px;
  font-weight: 700;
  margin-top: 5px;
  color: red;
}


/* PROJECT HIGHLIGHT SECTION */
.info-map {
    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: #f5f5f5;
    padding: 10px 100px 10px 100px;
    column-gap: 10px;
}

.left-grid {
    padding: 20px;
}

.left-grid p{
    font-size: 35px;
    font-weight: 700;
}

.right-grid {
    padding: 20px;
}

.list-size {
    font-size: 16px;
    list-style: circle;
    margin-left: 20px;
}

.right-grid p{
    font-size: 35px;
    font-weight: 700;
}


/* LOCATION MAP CSS */
.location {
    display: grid;
    margin-top: 60px;
    margin-bottom: 50px;
    justify-items: center;
}

.location-map h2 {
  font-size: 35px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 15px;
}


/* PROJECT LAYOUT IMAGES */
.bgcolor {
  background-color: #f5f5f5;
}


.title {
    display: grid;
    grid-template-columns: 1fr;
    padding: 60px 50px 10px 50px;
    column-gap: 10px;
    justify-items: center;
}

.title h2 {
  font-size: 35px;
  font-weight: 700;
}

.layout-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px 100px 50px 100px;
    column-gap: 20px;
    row-gap: 20px;
    justify-content: center;
}

.grid-item h6 {
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    padding: 15px;
    background-color: #00b350;
}

.grid-item a {
  color: white;
  font-weight: 900;
}

.grid-item a:hover,a.active{
  background: none;
  color: white;
  text-decoration: none;
}


/* PROJECT GALLERY IMAGES */
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    /* width: 380px; */
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }


/* PROJECT AMENITIES */
.amenities {
  display: grid;
  margin-bottom: 50px;
  justify-items: center;
  background-color: #f5f5f5;
  padding-top: 50px;
  padding-bottom: 50px;
}

.amenities-h2 h2 {
font-size: 35px;
font-weight: 700;
text-align: center;
margin-bottom: 30px;
}



/* WHY YOU SHOULD BUY WITH LEAD FORM*/
.backgr {
  background-color: #f5f5f5;
}

.info-why {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 10px 100px 10px 100px;
    column-gap: 10px;
    align-items: center;
}

.left-grid h2 {
  font-size: 35px;
  font-weight: 700;
} 

/* 
/* form */
/* @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
} */

/* body {
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-size: 12px;
  line-height: 30px;
  color: #777;
} */

.container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea,
#contact button[type="submit"] {
  font: 400 14px 'Nunito', sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  border-radius: 9px;
  /* margin: 100px 20px; */
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
  text-align: center;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"],
#contact input[type="email"],
#contact input[type="tel"],
#contact input[type="url"],
#contact textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  border-radius: 5px;
}

#contact input[type="text"]:hover,
#contact input[type="email"]:hover,
#contact input[type="tel"]:hover,
#contact input[type="url"]:hover,
#contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
  border-radius: 5px;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #00b350;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
  border-radius: 5px;
}

#contact button[type="submit"]:hover {
  background: #00b350;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact input:focus,
#contact textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}

.right-info-grid {
    padding: 50px;
    color: #FFF;
    top: 50%;
}

.right-info-grid h1 {
    font-size: 50px;
    font-weight: 800;
}


/* footer call and whatsapp information  */
.footer-contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px 100px 10px 100px;
  column-gap: 20px;
}

.footer-wa {
  background-color: #16be40;
  color: white;
  padding: 10px 50px 10px 50px;
  border-radius: 9px;
  max-width: 365px;
  /*margin-left: 100px;*/
  /*margin-right: 100px;*/
  text-align: center;
}

.footer-wa a {
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.footer-wa a:hover,a.active{
  background: none;
  color: #141414;
  text-decoration: none;
}

.footer-call {
  background-color: orangered;
  padding: 10px 20px 10px 20px;
  border-radius: 9px;
  max-width: 365px;
 /* margin-left: 100px;
  margin-right: 100px;*/
  text-align: center;
}

.footer-call a {
  color: white;
  font-size: 25px;
  font-weight: 700;
}

.footer-call a:hover,a.active{
  background: none;
  color: #141414;
  text-decoration: none;
}

.copyright {
  background-color: #444444;
  padding: 20px;
}

.copyright p {
  font-size: 16px;
  color: white;
  margin: 0;
}

.img-fluid{
  max-width: 100%;
  height: auto;
}

@media  only screen and (max-width: 970px) {
  .navbar{
    margin-left: 15px;
    margin-right: 15px;
  }
  .banner-form{
    padding-top: 40px;
    padding-right: 15px;
    padding-left: 15px;
  }
  .about-con,
  .location{
    margin-top: 40px;
    margin-bottom: 40px;
  }
  .about-info{
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .title,
  .amenities{
    padding-top: 40px;
  }
  .amenities,
  .grid-layout{
    padding-bottom: 40px;
  }
  .info-map,
  .layout-grid,
  .title,
  .info-why{
    padding-right: 15px;
    padding-left: 15px;
  }
  
}
@media  screen and (max-width: 768px) {
  .navbar{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .navbar div{
    margin-left: auto;
    margin-right: auto;
  }
  .header-logo2,
  .header-wa{
    margin: 10px 0;
  }
  .banner{
    min-height: auto;
  }
  .banner-form,
  .info-map,
  .layout-grid,
  .info-why{
    padding-bottom: 40px;
    grid-template-columns: 1fr;
  }
  .main-h1 h1,
  .about-info h2,
  .left-grid p,
  .location-map h2,
  .title h2,
  .amenities-h2 h2,
  .left-grid h2{
    font-size: 7vw;
  }
  .main-h1 h2,
  .about-info h3,
  .about-info h5,
  .title h2 p{
    font-size: 6vw;
  }
  .info-map,
  .info-why{
    padding-top: 40px;
  }
  .left-grid{
    padding: 0;
  }
  .layout-grid .grid-item{
    text-align: center;
  }
  .footer-contact{
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
    padding: 10px 15px 10px 15px;
  }

}